{% extends 'main/base.html' %}
{% block title %} Login... {% endblock %}


{% block content %}
        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title">
                                <h1> Login </h1>
                                <br>
                                <form method="POST">
                                    {% csrf_token %}
                                    
                                    <div>
                                        <input type="text" name="username" placeholder="Username">
                                    </div>
                                    <br>
                                    <div>
                                        <input type="password" name="password" placeholder="Password">
                                        <br/>
                                        <small> <div id="emailHelp" class="form-text">Not Registered? Sign Up <a href="{% url 'register' %}">Here.</a></div></small>
                                    </div>
                                    <br/>
                                    <button> Login </button>
                                    
                                </form>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            

{% endblock content %}