{% extends 'main/base.html' %}
{% block title %}
    Checkout
{% endblock title %}

{% block content %}

        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">
                            {% for message in  messages %}
                                {{ message }}
                                <br>
                                <hr>
                            {% endfor %}    

                            <div class="cart-title">
                                <h2>Checkout</h2>
                            </div>

                            <form action="{% url 'review' %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-secondary">Submit Review</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>subtotal:</span> <span>${{ subtotal2 }}.00</span></li>
                                <li><span>delivery:</span> <span>${{ delivery_fee }}.00</span></li>
                                <li><span>total:</span> <span>${{ total }}.00</span></li>
                            </ul>

                            

                            <div class="cart-btn mt-100">
                                <div id="paypal-button-container"></div>

                                    <!-- Include the PayPal JavaScript SDK -->
                                    <script src="https://www.paypal.com/sdk/js?client-id=AY1ERAEa2lCx6MzILKeJpaMSmKYB0fxDxayfX6NImVAmhF6jsyWVWFTlyru5WE961O9fWGIDM9l3Ahde&currency=USD"></script>

                                    <script>
                                        function getCookie(name) {
                                            let cookieValue = null;
                                            if (document.cookie && document.cookie !== '') {
                                                const cookies = document.cookie.split(';');
                                                for (let i = 0; i < cookies.length; i++) {
                                                    const cookie = cookies[i].trim();
                                                    // Does this cookie string begin with the name we want?
                                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                        break;
                                                    }
                                                }
                                            }
                                            return cookieValue;
                                        }
                                        const csrftoken = getCookie('csrftoken');

                                        function completeOrder(){
                                            var url = "{% url 'complete' %}"

                                            fetch(url, {
                                                method: 'POST',
                                                headers: {
                                                    'content-type': 'application/json', 
                                                    'X-CSRFToken': csrftoken, 
                                                },
                                            })
                                        }

                                        // Render the PayPal button into #paypal-button-container
                                        paypal.Buttons({

                                            // Set up the transaction
                                            createOrder: function(data, actions) {
                                                return actions.order.create({
                                                    purchase_units: [{
                                                        amount: {
                                                            value: '{{ total }}'
                                                        }
                                                    }]
                                                });
                                            },

                                            // Finalize the transaction
                                            onApprove: function(data, actions) {
                                                return actions.order.capture().then(function(orderData) {
                                                    // Successful capture! For demo purposes:
                                                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                                                    var transaction = orderData.purchase_units[0].payments.captures[0];
                                                    completeOrder()
                                                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                                                    // Replace the above to show a success message within this page, e.g.
                                                    // const element = document.getElementById('paypal-button-container');
                                                    // element.innerHTML = '';
                                                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                                                    // Or go to another URL:  actions.redirect('thank_you.html');
                                                });
                                            }


                                        }).render('#paypal-button-container');
                                    </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    

{% endblock content %}