{% extends 'main/base.html' %}
{% block title %}
    Product-Details
{% endblock title %}

{% block content %}

        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">
                {% for message in  messages %}
                    {{ message }}
                {% endfor %}    
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'category' product.category %}">{{ product.category }}</a></li>
                                
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <img src="{{ product.image.url }}" alt="product image" width="500">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">${{ product.price }}</p>
                                
                                    <h4>{{ product.name }}</h4>
                                
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    {% if user.is_authenticated %}
                                    <div class="review">
                                        <a href="{% url 'product_review' product.pk %}">Write A Review</a>
                                    </div>
                                    {% endif %}
                                    <div class="review">
                                        <a href="{% url 'product_review_page' product.pk %}">Reviews</a>
                                    </div>
                                </div>
                                
                                
                            </div>

                            <div class="short_overview my-5">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quae eveniet culpa officia quidem mollitia impedit iste asperiores nisi reprehenderit consequatur, autem, nostrum pariatur enim?</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <form class="cart clearfix" method="post" action="{% url 'add_cart' product.pk %}">
                                {% csrf_token %}
                                {{ form }}
                                <br><br>
                                <button class="btn btn-secondary">Add to cart</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
{% endblock content %}